<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.misha.sitesproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sites_activities.SitePlacesActivity"
            android:label="מקומות ומקומות מסוכנים"/>
        <activity android:name=".sites_activities.SiteAnimalsActivity"
            android:label="בעלי חיים ובעלי חיים מסוכנים"/>
        <activity
            android:name=".sites_activities.ViewSiteReviewActivity"
            android:label="הצגת חוות דעת" />
        <activity
            android:name=".sites_activities.SiteReviewListActivity"
            android:label="רשימת חוות דעת" />
        <activity android:name=".sites_activities.AddReviewActivity" />
        <activity
            android:name=".sites_activities.FavouriteSitesDisplayActivity"
            android:label="מועדפים" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".sites_activities.SiteDisplayActivity"
            android:label="תצוגת אתר"/>
        <activity android:name=".area_activities.CityDisplayActivity"
            android:label="תצוגת עיר"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication_activities.SignupActivity"
            android:label="הרשמה" />
        <activity
            android:name=".authentication_activities.SigninActivity"
            android:label="התחברות" />
        <activity
            android:name=".area_activities.AreaSelectionActivity"
            android:label="בחירת אזור" />
        <activity
            android:name=".area_activities.AreaDisplayActivity"
            android:label="בחירת עיר" />
    </application>

</manifest>